.container {
  max-width: 1280px;
  width: 100%;
}

.header {
  color: #fff;
  background-color: #07F;
  height: auto;
  border-radius: 0 0 16px 16px;
  padding: 16px;
  display: flex;
  justify-content: center;

  &_container {
    padding-inline: 32px;
  }
};

.githubLink {
  display: flex;
  align-items: center;
  opacity: 0.8;
  transition: all 0.3s;

  &:hover {
    opacity: 1;
  };
};

.content {
  display: flex;
  justify-content: center;
}