.header {
  width: 100%;
  flex: 1 0;
  color: #fff;
  background-color: #07F;
  padding: 16px 48px;
  height: auto;
  border-radius: 0 0 16px 16px;
};

.githubLink {
  display: flex;
  align-items: center;
  opacity: 0.8;
  transition: all 0.3s;

  &:hover {
    opacity: 1;
  };
};